.container {
  width: 920px !important;
  padding-left: 4.1%;
}

.albumslist-intro {
  animation: 0.5s fadein ease;
}

@keyframes fadein {
  0% {
    filter: blur(10px);
    transform: translate(0%, 4%);
  }
  100% {
    filter: blur(0px);
  }
}

.ui.cards {
  margin: 0;
}

.loader {
  position: absolute;
  left: 50%;
  top: 45%;
}

@media only screen and (max-width: 767px) {
  .ui.stackable.cards {
    display: flex !important;
  }
  .ui.stackable.cards > .card {
    width: 120px !important;
  }

  .ui.stackable.cards .card:first-child {
    margin-top: auto !important;
  }

  .container {
    padding-left: 8vw;
  }
}
